<!-- Full screen modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <h3>Patient Diagnosis Details</h3>
    <div>
        <div>
            <label> <b> Фамилия: </b></label> {{patient.lastName}}
        </div>

        <div>
            <label> <b> Имя: </b></label> {{patient.firstName}}
        </div>

        <div>
            <label> <b> Отчество: </b></label> {{patient.middleName}}
        </div>

        <div>
            <label> <b> Дата рождения: </b></label> {{patient.birthDate}}
        </div>

        <div>
            <label> <b> Контакты: </b></label> {{patient.contactInfo}}
        </div>   

        
    </div>
</div>
