<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">

    <a style="color: white;" class="navbar-brand" href="#">PulmoScope</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
                <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);"
                    routerLink="/admindash">Back</a>

        </ul>

    </div>

</nav>
<hr>
<hr>
<hr>
<div class="container">
    <h3>Patient Diagnosis Details</h3>
    <div>
        <div>
            <label> <b> Фамилия: </b></label> {{patient.lastName}}
        </div>

        <div>
            <label> <b> Имя: </b></label> {{patient.firstName}}
        </div>

        <div>
            <label> <b> Отчество: </b></label> {{patient.middleName}}
        </div>

        <div>
            <label> <b> Дата рождения: </b></label> {{patient.birthDate}}
        </div>

        <div>
            <label> <b> Контакты: </b></label> {{patient.contactInfo}}
        </div>   

        
    </div>
</div>